@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-shadow: 0 35px 55px rgba(0, 0, 0, 0.3);
          box-shadow: 0 35px 55px rgba(0, 0, 0, 0.3);
}

.left_side {
  position: relative;
  background: #003147;
  padding: 40px;
}

.left_side .profilText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.left_side .profilText .imgBox {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.left_side .profilText .imgBox img {
  position: absolutr;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.left_side .profilText h2 {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.left_side .profilText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.left_side .contactInfo {
  padding-top: 40px;
}

.left_side .contactInfo .title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.left_side .contactInfo ul {
  position: relative;
}

.left_side .contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.left_side .contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #32aff8;
}

.left_side .contactInfo ul li span {
  color: white;
  font-weight: 300;
}

.left_side .education li {
  margin-bottom: 15px;
}

.left_side .education li h5 {
  color: #32aff8;
  font-weight: 500;
}

.left_side .education li h4 {
  color: white;
  font-weight: 500;
}

.left_side .language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 10px;
}

.left_side .language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #32aff8;
}

.right_side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.about {
  position: relative;
  margin-bottom: 50px;
  top: 20px;
  left: 30px;
  width: calc(100% - 30px);
}

.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
}

.title2 {
  color: #003147;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
  font-size: 1.2rem;
}

.skills .box {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .box h4 {
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  left: -50px;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #32aff8;
}

.interest ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.interest li {
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}

.interest li .fab, .interest li .fas {
  color: #32aff8;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
  }
}

@media (max-width: 800px) {
  .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about {
    width: calc(100% - 60px);
  }
}
/*# sourceMappingURL=css.css.map */